.irregularVerbs_container {
  display: flex;
  justify-content: start;
  flex-flow: row wrap;
}

.filter_container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #a3a5ae; */
  padding: 1em 1.5em 1em 0;
}
.filter_container input {
  flex: 1;
  height: 40px;
  font-size: 16px;
  padding-left: 5%;
  border-radius: 50px;
  color: #a3a5ae;
  background-color: #fce6ef;
  border: 1px solid #ffc5dd;
}

.card_container {
  display: flex;
  max-width: 33%;
  min-width: 33%;
}

.card_container h2 {
  display: flex;
  padding: 0.5em 2em 0 2em;
  align-items: center;
  justify-content: center;
}

.card_container p,
.card_container p b,
.card_container p span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_container p b {
  color: #0a3161;
}

.card_container p span {
  color: #b31942;
}

.player_container {
  display: flex;
  justify-content: space-between;
}

.card_container .player_container .svg {
  float: right;
  width: 25px;
  height: 25px;
}
