.cards_container {
  display: flex;
}

.card_content {
  display: flex;
  flex-direction: column;
}

.card_content .title_container {
  display: flex;
  padding: 1em 2em 0 2em;
  align-items: center;
  justify-content: center;
}

.content p {
  display: flex;
  justify-content: space-between;
}

.content span,
.content b {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}
