.card_content {
  width: 100%;
}

.card_content .title_container {
  display: flex;
  padding: 1em 2em 0 2em;
  align-items: center;
  justify-content: center;
}

.content p {
  display: flex;
}

.content span,
.content b {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}

.content .item {
  width: 100%;
  /* background-color: blueviolet; */
}

.content .svg {
  width: 25px;
  height: 25px;
  padding-left: 1.5em;
  /* background-color: blanchedalmond; */
}
